{% extends 'core/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-2 border">
  </div>
     <h3>Set new Password</h3>
      <div class="col-sm-9 border offset-sm-1">
       <form method="POST">
            {% for error in form.non_field_errors %}
            <small class="text-danger"> {{error}}</small>
            {% endfor %}
           {% csrf_token %}
           {% for form in form %}
             <div class="mb-3">
               <label for="new_password1" class="form-label">{{form.label_tag}}</label>
                 {{form}}
            <small class="text-danger"> {{form.errors}}</small>
             </div>
           {% endfor %}
         <center><button type="submit" class="btn btn-primary">Submit</button></center>

       </form>
  </div>
 </div>
</div>
{% endblock main-content %}
