{% extends 'core/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>{{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'changepassword' %}" class="btn">Change Password</a></li>
    <li class="d-grid"><a href="{% url 'password_reset' %}" class="btn btn-primary">Reset Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 border offset-sm-1">
   <form method="POST">
       {% csrf_token %}
     <div class="mb-3">
       <label for="old_password" class="form-label">{{form.email.label_tag}}</label>
         {{form.email}}
         {{form.email.errors}}
     </div>

     <center><button type="submit" class="btn btn-primary">Submit</button></center>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}
