body{
 min-height: 800px;
 margin-bottom:5px;
 clear: both;
}


/* start Dajngo message framework css*/
--error-fg: #ba2121;
    
  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;  
  --darkened-bg: #f8f8f8; 
  --error-fg: #e35f5f;
  --message-success-bg: #006b1b;
  --message-warning-bg: #583305;
  --message-error-bg: #570808;
  --darkened-bg: #212121;
  }
  /* MESSAGES & ERRORS */
  
  ul.messagelist {
      padding: 0;
      margin: 0;
  }
  
  ul.messagelist li {
      display: block;
      font-weight: 400;
  
      padding: 10px 10px 10px 65px;
      margin: 0 0 10px 0;
      background: var(--message-success-bg) url(../img/icon-yes.svg) 40px 12px no-repeat;
      background-size: 16px auto;
      color: var(--body-fg);
  }
  
  ul.messagelist li.warning {
      background: var(--message-warning-bg) url(../img/icon-alert.svg) 40px 14px no-repeat;
      background-size: 14px auto;
  }
  
  ul.messagelist li.error {
      background: var(--message-error-bg) url(../img/icon-no.svg) 40px 12px no-repeat;
      background-size: 16px auto;
  }
/* End Django message framework css */

.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

This appears to have been answered previously: Shopping cart - number of items in cart CSS

Modified the code to suit your request: http://jsfiddle.net/LhrLe0j6/361/

<i class="fa" style="font-size:24px">&#xf07a;</i>
<span class='badge badge-warning' id='lblCartCount'> 5 </span>
CSS:

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
